@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

body {
  margin: 0;
  width: 100%;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}

.container {
  padding: 40px;
  box-sizing: border-box;
}
.container img {
  width: 64;
  height: 40;
}
.container h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 24px;
  color: hsl(0, 0%, 95%);
}

p {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.6rem;
  padding-right: px;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 80px;
  color: hsl(0, 0%, 95%);
  width: 208px;
  word-spacing: 2px;
}

button {
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
  border-radius: 24px;
  padding: 14px 28px;
  border: 2px solid hsl(0, 0%, 95%);
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
}
button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
button:active {
  transform: scale(0.9);
}
.sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0 0 8px;
}
.sedan button {
  color: hsl(31, 77%, 52%);
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.suv button {
  color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 8px 8px 0;
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
button:active {
  transform: scale(0.9);
}

footer p {
  color: #222;
  font-family: "Big Shoulders Display", sans-serif;
  text-align: center;
  width: auto;
  margin-bottom: 0;
  font-style: italic;
}
footer a {
  font-family: "Big Shoulders Display", sans-serif;
  color: rgb(0, 16, 163);
  font-style: italic;
}
footer a:hover {
  text-decoration: none;
  cursor: pointer;
}
footer a:active {
  color: rgb(0, 8, 78);
}
@media (max-width: 767px) {
  .main-container {
    flex-wrap: wrap;
  }
  .sedan {
    border-radius: 8px;
  }
  .suv {
    border-radius: 8px;
  }
  .luxury {
    border-radius: 8px;
  }
}
